html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
	font-family: sofia-pro,sans-serif;
	font-weight: 400;
	font-style: normal;

}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 50px;
	display: inline;
}

#top-nav{
	display: flex;
	justify-content: space-between;
	padding: 1.5% 5%;
	background: linear-gradient(315deg, hsla(196, 70%, 79%, 1) 2%, hsla(206, 98%, 48%, 1) 54%);	
	}

header nav{
	width: 35%;
	text-align: center;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

a{
	text-decoration: none;
	color: white;
}

nav a:hover{
	transform: scale(1.1) ;
}

h1 {
	font-size: 2rem;
	font-family: sofia-pro,sans-serif;
	font-weight: 400;
	font-style: normal;
	color: white

}

h2 {
	color: white;
	font-size: 1.7rem;
	font-weight: bold;
	text-align: center;
	
}

h3 {
	font-size: 1.6rem;
	line-height: 2;
}

h4{
	font-size: 1.1rem;
	font-weight: bold;
	color: white;
	text-decoration: underline;
}

em {
	font-weight: bold;
	color: white;

}

#banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 0%;
	min-height: 87vh;
    background-repeat: no-repeat;
    background-size: auto 135%;
    background-position: 30% 0px;
	background-image: url("assets/banner-pushup-woman.jpg")
	
}

#experience-tiles {
	width: 90%;
	display: flex;
	margin: 5% auto;
	justify-content: space-evenly;

	
}

.tile, .tile-left {
	display: flex;
	flex-direction: column;
	width: 30%;
	text-align: center;
}

#experience-tiles img{
	width: 100%;
}


.button {
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px 10px 7px;
	text-decoration: none;
	margin: 2%;
}

#banner .button{
	margin: 2%;
	font-size: 1.6rem;
	font-weight: bold;
	padding: 8px 18px 12px;
	border: 3px solid white;
	background-color: #028AF2 ;
}

#banner .button:hover {
	background-color: #94D3F0;
}

#mission{
	margin: 5% auto;
	width: 50%;
	text-align: center;
	padding: 2%;
	border: 5px solid black;
	border-radius: 15px;
	background-color: #FEC470;
}

#mission h2{
	color:black;
}

#mission p{
	font-size: 1.25rem;
}

footer{
	background: linear-gradient(315deg, hsla(196, 70%, 79%, 1) 2%, hsla(206, 98%, 48%, 1) 54%);	
	display: flex;
	justify-content: center;

}

footer nav {
	padding: 4%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 120px;
}



#learn-more{
	padding: 4%;
	display: flex;
	flex-direction: column;
}

/*contact form */

.contact-form form {
	display: flex;
	flex-direction: column;
}

.contact-form {
	width: 75%;
	margin: 5% auto;
}

.contact-form #description {
	height: 250px;
	margin-bottom: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

.contact-form input {
	margin-bottom: 20px;
	border: 2px solid black;
	border-radius: 5px;
}

.contact-form #submit {
	width: 200px;
	border: px solid black;
	background-color: #FEC470;
	border-radius: 5px;
	padding: 5px 10px 7px;
	text-decoration: none;
}

/*marketing pages */

.marketing-tiles{
	display: flex;
	flex-direction: column;
}

.mtile{
	display: flex;
	flex-direction: row;
		width: 90%;
		margin: 5%;
		justify-content: space-evenly;
		align-items: center;
}

.mtile img{
	width: 35%;
	margin-top: 4%;
}

.mtile-caption {
	width: 40%;
	align-items: flex-start;

}

.marketing-tiles h2 {
	font-size: 2rem;
	font-weight: bold;
	color: #028AF2;
	border-bottom: 5px solid #028AF2;
}

.marketing-tiles p {
	padding-top: 4%;
}


/*responsive design*/

@media(max-width: 750px){
	
	.logo img{
		width: 60px;
	}

	.logo h1{
	
	}

	header nav a {
		margin: 2%;
		}

	#experience-tiles {
		flex-direction: column;
		align-items: center;
	}
	
	.tile, .tile-left{
		flex-direction: row;
		width: 90%;
		margin: 5%;
		justify-content: center;
	}

	.tile-left img {
		order: 2;
	}

	#experience-tiles img {
		width: 45%;
		margin: 2%;

	}

	.tile-caption{
		width: 45%;
	}

	#mission{
		width: 65%;
	}	
	}

@media(max-width:550px){
	#top-nav{
		flex-direction: column;
		align-items: center;
	}
	header nav{
		flex-direction: row;
		width: 75%;
		justify-content: center;
	}
	#mission{
		width: 80%;
	}

	.tile, .tile-left{
		flex-direction: column;
		width: 90%;
		margin: 0;
		align-items: center;
	}

	.tile-caption{
		width:75%;
		margin-bottom: 10%;
		}

	.tile-left img {
		order: -1;
	}

	#mission{
		margin-bottom: 12%;
	}

	.mtile{
		flex-direction: column;
			}
	
	.mtile-caption{
		width: 90%;
	}

	.mtile img{
		width: 70%;
	}
}

@media(max-width:350px){
	h1{
		font-size: 1.7rem;
	}

	h2{
		font-size: 1.6rem;
	}

	#mission p{
		font-size: 1rem;


	}
}
