*{
  box-sizing: border-box;
}

body{
  color: black;
  font-family: serif;
  text-align: center;
}

a{
  font-size: 0.75em;
  text-decoration: none;
  color: black;
}

input[type=text], select {
  height: 1.5rem;
  margin: 3%;
}